body {
  font-family: Verdana, Arial;
  background-image: -moz-linear-gradient(top, #f9fdff, #fff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9fdff),
		color-stop(1, #fff) );
  filter: progid :   DXImageTransform.Microsoft.gradient (   GradientType
		=   0, startColorstr =   '#f9fdff', endColorstr =   '#fff' );
  -ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9fdff', endColorstr='#fff')";
}

.topbar{background:#f0f7fd;padding-bottom:8px;}

.header > .container {
  position: relative;
}

.hero.header.ac > .container {
    margin-left: 20px;
    margin-right: 20px;
}

.header > .container > ul.nav {
  position: absolute;
  right: 0px;
  top: 80px;
}

.hero{
	background-image: url(/images/header-bg.png);
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 31px;
    width: 920px;
}
.hero h1,.hero h2,.hero h3{color:#fff;margin-bottom:0;line-height:1;letter-spacing:-1px}
.hero h1{font-size:45px}.hero h2{font-size:32px}
#home .hero h2{font-size:40px}
.hero h3{font-size:24px;color:#fff;margin-top:10px}
.hero p{color:#fff;font-size:18px;font-weight:200;line-height:30px}
.hero .big-media{margin-top:20px}
.hero.ac { border-bottom: solid 10px #fec828;}
.hero.ac.smallHeader { padding: 7px 0 11px; }
.hero.ac.header { height: 175px;
}
.header h2 {
	margin-bottom: 25px;
	font-size: 32px;
	font-weight: bold;
}

.header p {
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 18px;
	margin-bottom: 5px;
}

.header p a {
	font-weight: bold;
	text-decoration: underline;
	color: #fff;
}

.container h4 {
	color: #4D4D4D;
}


p {
	font-size: 12px;
	line-height: 18px;
	color: #757575;
}

a {
	text-decoration: underline;
}

.nav a {
	text-decoration: none;
}

.span3.left {margin-left: 0px;}
.span3.center {margin-left: 20px;margin-right: 20px;}
.span3.right {margin-left: 0px;}

.span3.section {text-align:center;}
.span3.section h2 {color:#4d4d4d;}
.span3.section p {color:#4d4d4d;text-align:justify;}

.span5.left {margin-left: 0px;}
.span5.right {margin-left: 10px;}
.span5.section { padding: 5px; }

.span2a .blog-icon {
  background-image: url(/images/blog-ico.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 21px;
  /*border: solid 1px black;*/
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.span2b .follow-icon {
  background-image: url(/images/follow-ico-grey.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 21px;
  /*border: solid 1px black;*/
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.span3.center {
	text-align: center;
}

.span3 .follow-icon {
  background-image: url(/images/follow-ico-blue.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 21px;
  /*border: solid 1px black;*/
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.topics h2 {
	font-size: 24px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 20px;
}

.features .span7,
.features .span3 {
	margin-left: 0px;
	margin-right: 0px;
}

.features .figure-legend {
	color: #88a8d9;
	font-size: 12px;
}

ul.blog {
	color: #757575;
}

ul.blog a {
	text-decoration: underline;
}

ul.sub-list {
	padding-left: 27px;
}

.form-horizontal .control-label {
	width: 100px;
	color: #757575;
}

.form-horizontal .controls {
	margin-left: 100px;
	color: #49505a;
	font-weight: bold;
}

.btn-group .btn:not(.dropdown-toggle) {
  width: 140px;
  text-align: left;
  background-color: #fff;
  background-image: none;
}

.btn-group .btn.dropdown-toggle {
  border-left: none;
  background-color: #fff;
  background-image: none;
}

.btn-group .btn.no-radius:not(.dropdown-toggle),
.btn-group .btn.dropdown-toggle.no-radius {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.btn-group li {
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333333;
	padding: 4px 12px;
}

div.inaction > div.span3:first-child {
  background-image: url("/images/restlet-in-action.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 105px;
  height: 128px;
  margin-left: 0px;
}

div.inaction > div.span3:last-child {
  padding-top: 0px;
  line-height: 14px;
  /*border: solid 1px black;*/
}

div.inaction > div.span3:last-child > h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.inaction > div.span3:last-child > h4 > a {
  text-decoration: underline;
}

div.inaction > div.span3:last-child > p {
  margin-top: 3px;
  margin-bottom: 3px;
}

h5.blog {color:#3b924b;}

ul.blog {list-style-type: none; margin-left: 0;}

ul.users {list-style-type: none; margin-left: 0;display:inline;}

ul.users > li {
  display: inline;
  list-style-type: none;
  margin-left: 5px;
  margin-right: 10px;
}

p.users {
  display: inline;
  margin-right: 30px;
}

.clearBoth {clear:both;}

hr {
    border-bottom: 1px solid #DDDDDD;
    margin: 10px 0px 10px;
}

.emptySeparator {
  height: 20px;
}
/*hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #EEEEEE;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin: 20px 0 19px;
}*/

.apispark-logo {
  background-image: url("/images/apispark-logo.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 420px;
  height: 108px;
  margin-left: 0px;
}

.span3.download p {
	margin-bottom: 1px;
}

.span3.download p:first-child {
	margin-bottom: 15px;
}

/* Features */

ul.features, ul.pages {
	list-style: none;
	margin-top: 10px;
	margin-left: 0px;
}

ul.pages li {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
}

ul.pages li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	line-height: 16px;
}

ul.pages li.active a {
	color: #1553b1;
	font-weight: normal;
	line-height: 16px;
}

ul.features {
	text-align: left;
}

ul.features li {
	font-size: 12px;
	padding-bottom: 5px;
}

ul.features li a {
	text-decoration: none;
	color: #4C4D4D;
	font-weight: bold;
	line-height: 20px;
}

ul.features li.active a {
	color: #1553b1;
	font-weight: normal;
	line-height: 20px;
}

div.features div.span6 p:first-child {
	text-align: center;
}

/* End features */

/* Quotes */

h4.quotes {
	margin-left: 30px;
}

.container div.quotes.span8 {
	margin-left: 0px;
	position: relative;
}

.container div.quotes.span8.right {
	float: right;
	position: relative;
}

.container div.quotes.span8 .quoteBoxLeft {
	position: absolute;
	left: 2px;
	top: 30px;
	background-repeat: no-repeat;
	background-image: url(/images/quote-left.png);
	width: 29px;
	height: 30px;
	z-index: 2;
}

.container div.quotes.span8 .span8.quoteBox {
	border: solid 1px #d5e2f3;
	background-color: #f8fafd;
	padding: 10px 15px;
	margin-bottom: 20px;
	width: 680px;
}

.container div.quotes.span8 .span8.quoteBox p:first-child {
	font-size: 14px;
	line-height: 22px;
	color: #757575;
}

.container div.quotes.span8 .span8.quoteBox p:first-child strong {
	font-weight: bold;
	font-size: 18px;
	color: #3b924b;
	line-height: 26px;
}

.container div.quotes.span8 .span8.quoteBox p:last-child {
	font-size: 14px;
	line-height: 22px;
	color: #757575;
}

.container div.quotes.span8 .span8.quoteBox p:last-child strong {
	font-weight: bold;
	font-size: 14px;
	color: #757575;
	line-height: 22px;
}

/* End features */

footer {
  background: none repeat scroll 0 0 #f2f2f2;
  border-top: 0 none;
  padding-top: 20px;
  padding-bottom: 19px;
}

footer .container {
  color: #747474;
}

footer .container .span2.intro {
  font-style:italic;
  color: #747474;
}

footer .container .span2.intro.below {
	padding-top: 8px;
}

footer .container .span2 {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 10px;
  margin-bottom: 30px;
  width: 160px;
}

footer .container .span2 strong {
	font-weight: bold;
	color: #757575;
}

footer .container .span2a {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 10px;
  width: 130px;
}

footer .container .span2b {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 10px;
  width: 200px;
}

footer .container .span2c {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 10px;
  width: 150px;
}

footer .container .span2d {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 10px;
  width: 200px;
}

footer .container .span2a.site h4,
footer .container .span2b.site h4,
footer .container .span2c.site h4,
footer .container .span2d.site h4 {
	height: 36px;
	vertical-align: middle;
	display: inline-block;
}

footer .container .span2a.site h4 a,
footer .container .span2b.site h4 a,
footer .container .span2c.site h4 a,
footer .container .span2d.site h4 a {
	height: 36px;
	vertical-align: middle;
	display: inline-block;
	padding-top: 8px;
}

footer .container .span2 h4,
footer .container .span2a h4,
footer .container .span2b h4,
footer .container .span2c h4,
footer .container .span2d h4 {
	font-size: 14px;
	margin-top: 0px;
}

footer .container .span2a .pull-left,
footer .container .span2b .pull-left,
footer .container .span2c .pull-left,
footer .container .span2d .pull-left {
	margin-right: 4px;
}

footer .container .span2a ul,
footer .container .span2b ul {
	list-style-type: none;
	margin-left: 9px;
}

footer .container .span2c ul {
	list-style-type: none;
	margin-left: 40px;
}

footer .container .span2d ul {
	list-style-type: none;
	margin-left: 20px;
}

footer .container .span4.newsletter {
	height: 30px;
	margin-top: -3px;
	margin-left: 0px;
	float: right;
}

#footerNewsLetterWrapper {
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 6px;
	padding-bottom: 4px;
	border: solid 1px #b2c4d4;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	float:right;
	width: 300px;
}

#footerNewsLetter {
	border: solid 0px black;
	width: 250px;
	font-size: 12px;
	color: #a7a7a7;
	font-style: italic;
}

#footerNewsLetterOkButton {
	/*margin-left: 5px;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	border-color: #c4831c;
	background-color: #575757;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	/*position: absolute;
	right: 10px;*/
	font-family: Verdana;
	font-size: 14px;
	display: inline-block;
	/*width: 300px;*/
}


div.content.footerWrapper .footer {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D3D2D2;
    border-left: 1px solid #D3D2D2;
    border-right: 1px solid #D3D2D2;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
    width: 900px;
}

.content.container, .subsections {
	border-left: solid 1px #D2D2D2;
	border-right: solid 1px #D2D2D2;
	background-color: white;
	padding-left:10px;
	padding-right:10px;
}

div.content.footerWrapper {
    background-color: #F2F2F2;
}

.dropdown-menu li {
	cursor:pointer; 	
}