/** 
orange : #f3701e
rouge  : #bc151a
gris   : #5e6166
*/
* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	font-family: Tahoma, Arial, sans-serif, Verdana, Helvetica;
}

a:link {
	color: #1C4D97;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a.anchor:hover {
	font-weight: bold;
	text-decoration: none;
}

body {
	font-size: 11px;
	font-family: Tahoma, Arial, sans-serif, Verdana, Helvetica;
	color: black;
	text-align: center;
	background-color: white;
}

#logo {
	width: 90px;
	height: 135px;
	position: absolute;
	top: 0px;
	left: 83px;
}

#layout {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	text-align: center;
	background-color: white;
	padding: 30px 30px 0px 30px;
}

#content {
	width: 600px;
	float: right;
	background-color: white;
	text-align: justify;
	margin-bottom: 20px;
}

#header {
	border: none;
	background-color: white;
	overflow: auto;
}

#footer {
	width: 650px;
	height: 20px;
	background-color: white;
	color: #5e6166;
	text-align: center;
	font-size: 10px;
	margin-top: 20px;
	clear: both;
	overflow: auto;
}

#menu {
	height: 37px;
	margin-bottom: 1px;
	background-color: white;
	text-align: right;
}

#menu ul {
	padding-right: 10px;
}

#menu li {
	font-size: 1.2em;
	display: inline;
	list-style-type: none;
	padding-left: 15px;
	line-height: 37px;
}

#menu li.selected a {
	text-decoration: underline;
}

#menu a {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

#menu a:link,#menu a:visited {
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

#submenu {
	height: 28px;
	border: none;
	background-color: white;
}

#submenu li.selected a {
	text-decoration: underline;
}

#submenu div {
	float: right;
}

#submenu ul {
	padding-right: 10px;
}

#submenu li {
	font-size: 11px;
	display: inline;
	list-style-type: none;
	padding-left: 13px;
	line-height: 28px
}

#submenu a {
	color: black;
	font-weight: normal;
}

#submenu a:link,.submenu a:visited {
	text-decoration: none;
}

#submenu a:hover {
	text-decoration: underline;
}

#inside {
	margin-top: 60px;
	width: 600px;
	font-size: 11px;
}

#inside .h1 {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#inside .h1 img {
	vertical-align: top;
	margin-right: 20px;
}

#inside h1 {
	display: inline;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #5e6166;
}

#inside .h2 {
	border-bottom: 1px solid #5e6166;
	height: 21px;
	margin-top: 25px;
	margin-bottom: 20px;
	color: #5e6166;
	overflow: auto;
	clear: both;
}

#inside .h2 h2 {
	height: 20px;
	line-height: 20px;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	float: left;
}

#inside .h2 div {
	float: right;
}

#inside h3 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #5e6166;
}

#inside h4 {
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5e6166;
}

#inside p {
	margin-bottom: 10px;
}

#inside ul {
	margin-bottom: 10px;
	margin-left: 20px;
	line-height: 140%;
	list-style-position: outside;
	list-style-image: url(/images/bullets/red-6.png);
}

#inside ul ul {
	margin-bottom: 0px;
	list-style-image: url(/images/bullets/grey-6.png);
}

#logo-content {
	float: right;
	vertical-align: text-top;
	margin-left: 20px;
	margin-bottom: 20px;
}

img.float-left {
	float: left;
	vertical-align: text-top;
	margin-right: 20px;
	margin-bottom: 20px;
}

img.float-right {
	float: right;
	vertical-align: text-top;
	margin-left: 20px;
	margin-bottom: 20px;
}

table.classic {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 15px;
	clear: both;
}

table.classic th {
	color: white;
	font-weight: bold;
	background-color: #bc151a;
	padding: 4px;
	text-align: left;
}

table.classic td {
	background-color: #efefef;
	vertical-align: top;
	padding: 4px;
	text-align: left;
}

input {
	font-family: Tahoma, Arial, sans-serif, Verdana, Helvetica;
	font-size: 11px;
}

.news {
	margin-top: 5px;
	display: block;
	overflow: auto
}

.news-date {
	text-align: left;
	width: 70px;
	float: left;
	margin-right: 5px;
	display: inline
}

.news-text {
	text-align: left;
	width: 220px;
	float: left;
	display: inline
}

label {
	font-size: 11px;
	text-align: left;
}

.required label {
	font-weight: bold;
}

.buttons {
	display: none
}

.button {
	display: none
}

.button input {
	display: none
}

.x-form-field,.x-combo-list-item {
	font-family: Tahoma, Arial, sans-serif, Verdana, Helvetica;
	font-size: 11px;
}

.x-fieldset {
	background-color: white;
	padding-right: 0px;
}

.x-panel-ml {
	padding-left: 0;
}

.x-fieldset-header-text {
	color: #bc151a;
}

.error {
	color: #bc151a
}

pre.licence {
	font-family: monospace;
	font-size: 12px;
}