/* MODAL */
.modalDialog.kinlane  {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*! important !*/
    display:none;
    /* last attribute set darkness on scale: 0...1.0 */
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    z-index:101;
}

.modalDialog.kinlane > div:after{
	content: '';
	display: block;
	clear: both;
}
.modalDialog.kinlane > div {
	min-width: 320px;
	max-width:802px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	position: relative;
	padding:33px 19px 0px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font:17px/28px Arial, Helvetica, sans-serif;
	box-shadow: 0 0 25px 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0 0 25px 0 rgba(50, 50, 50, 0.75);
	background:#a1afd3 url(../images/bg.jpg) no-repeat 50% 0;
	background-size: auto 100%;
}
.modalDialog.kinlane div.close-button {
	background-image: url(../images/kinlane-close-button.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 28px;
	position: absolute;
	right: -12px;
	top: -12px;
	width: 28px;
}
.modalDialog.kinlane .title{
	color: #535049;
	font:bold 31px/33px Arial, Helvetica, sans-serif;
	display: block;
	margin:0 0 11px;
	text-align: left;
}
.modalDialog.kinlane div.doc-preview{
	width:305px;
	height:320px;
	background-image: url(../images/img.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 25px;
}
.modalDialog.kinlane div.doc-desc > div.doc-content {
	background:rgba(186,206,246,0.6);
	color: #535049;
	height: 160px;
	position: relative;
	width: 390px;
	margin:0 3px 9px 0;
	padding:13px 14px 1px;
	overflow:hidden;	
	margin-top: 20px;
}
.modalDialog.kinlane div.doc-desc > div.doc-content > div.text{
	font: 18px/26px Arial, Helvetica, sans-serif;
	margin-top: 0;
	padding-right: 30px;
	padding-top: 5px;
	height:inherit;
	min-height:50px;
	text-align: left;
}
.modalDialog.kinlane div.doc-desc .order-form{
	margin: 0;
	overflow: hidden;
}
.modalDialog.kinlane div.doc-desc .row{
	overflow: hidden;
}

.modalDialog.kinlane div.doc-desc input[type="text"],
.modalDialog.kinlane div.doc-desc input[type="email"]{
	width:350px;
	height:15px;
	border:1px solid #7d7d7d;
	background:#fcfaf4;
	color:#000;
	font:12px/15px Arial, Helvetica, sans-serif;
	padding:5px 13px;
	margin:0 0 4px 0px;
}

.modalDialog.kinlane div.doc-desc input[type="email"]{
	width:280px;
	float:left;
	height:43px;
	outline:none;
	color:#3f4348;
	font-size:16px;
	line-height:20px;
	border-radius:3px;
	background: #faf4e0;
	padding:10px 16px 11px;
	border:solid 1px #797f90;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.modalDialog.kinlane div.doc-desc textarea{
	width:350px !important;
	height:52px !important;
	border:1px solid #7d7d7d;
	resize:none;
	background:#fcfaf4;
	margin:0 0 13px 0px;
	color:#000;
	padding:5px 13px;
	font:12px/15px Arial, Helvetica, sans-serif;
	overflow: auto;
}
.modalDialog.kinlane div.doc-desc .row .error {
	border:1px solid #f03307;
	color: #f03307;
}

.modalDialog.kinlane ::-webkit-input-placeholder {color: #000;}
.modalDialog.kinlane :-moz-placeholder {color: #000;}
.modalDialog.kinlane ::-moz-placeholder {
	color: #000;
	opacity: 1;
}
.modalDialog.kinlane :-ms-input-placeholder {color: #000;}
.modalDialog.kinlane div.doc-desc .row{
	overflow:hidden;
	font:11px/13px Arial, Helvetica, sans-serif;
	margin: 0 0 0;
	text-align: left;
	color: #535049;
}
.modalDialog.kinlane div.doc-desc .row button{
	border-radius:5px;
	background:#efa10f;
	color:#3f4348;
	font-size:20px;
	line-height:30px;
	height:43px;
	width: 128px;
	border:none;
	float:left;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	padding:3px 10px 5px;
	cursor:pointer;
}
.modalDialog.kinlane div.doc-desc .row button:hover{background: #fc6;}
.modalDialog.kinlane div.doc-desc .text-hidden{
	display: block;
	color:#605e5e;
	font:9px/12px Arial, Helvetica, sans-serif;
}
.modalDialog.kinlane div.doc-desc .row p{ 
	margin:0;
	color: #000;
	font-size: 9px;
	line-height: 180%;
	padding-top: 2px;
}
.doc-desc{
	width: 440px;
	float: right;
	padding: 0 0 0;
}
.doc-desc form fieldset{
	border:none;
	margin:0;
	padding:0;
}

#beginning {
	font-size: 21px;
}

.subhead {
	text-align: left;
	margin-bottom: 12px;
	display: block;
}

.text-holder p {
	font: 17px/28px Arial, Helvetica, sans-serif;
	color: #535049;
	text-align: left;
}

.doc-download {
	margin-right: 20px;
}

.row.button {
	width: 130px;
	float: right;
}

.txt-info {
	display:block;
	color:#000;
	font-size:11px;
	line-height:15px;
}