a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 110%;
}
table {
    clear: both;
    margin: 0;
    width: 90%;
    font-family: "Droid sans", "sans-serif";
    font-size: 13px;
}
thead {
    font-size: 130%;
}
th {
    text-align: left;
}
th:last-child {
    text-align: center;
}
tbody > tr:hover {
    -moz-outline-radius: 0.3em 0.3em 0.3em 0.3em;
    outline: 1px solid threedlightshadow;
}
td {
    width: 100px;
    text-align: left;
}
td:first-child {
    width: 300px;
}
td:last-child {
    text-align: center;
}
td a {
    color:blue;
}