/* MODAL */
.modalDialog.kinlane.stickers  {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*! important !*/
    display:none;
    /* last attribute set darkness on scale: 0...1.0 */
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    z-index:101;
}

div.span2.section > span {
	border: none !important;
	background-image: none !important;
}

.modalDialog.kinlane.stickers > div:after{
	content: '';
	display: block;
	clear: both;
}
.modalDialog.kinlane.stickers > div {
	background-image: url(/images/kinlane-background-min.png);
	background-repeat:no-repeat;
	background-color:#3f65a4;
	box-shadow: 0 0 17px 7px rgba(50, 50, 50, 0.75);
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width:802px;
	height: 372px;
	padding:33px 37px 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position: relative;
}
.modalDialog.kinlane.stickers div.close-button {
	background-image: url(/images/kinlane-close-button.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 28px;
	position: absolute;
	right: -12px;
	top: -12px;
	width: 28px;
}
.modalDialog.kinlane.stickers .title{
	color:#fff;
	text-transform: capitalize;
	font:bold 40px/43px Arial, Helvetica, sans-serif;
	display: block;
	margin:0 0 11px;
}
.modalDialog.kinlane.stickers div.doc-preview{
	width:305px;
	height:245px;
	background-image: url(/images/stickers-campaign.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.modalDialog.kinlane.stickers div.doc-desc > div.doc-content {
	background-color: rgba(41, 63, 112, 0.7);
	color: #fff;
	height: inherit;
	margin-bottom: 10px;
	padding-left: 13px;
	padding-top: 2px;
	padding-right:2px;
	padding-bottom:7px;
	position: relative;
	left: 7px;
	width: 362px;
}
.modalDialog.kinlane.stickers div.doc-desc > div.doc-content > div.text{
	font: 18px/26px Arial, Helvetica, sans-serif;
	margin-top: 0;
	padding-right: 30px;
	padding-top: 5px;
	height:inherit;
	min-height:50px;
	text-align: left;
}
.modalDialog.kinlane.stickers div.doc-desc .order-form{
	margin: 0;
	overflow: hidden;
}
.modalDialog.kinlane.stickers div.doc-desc .row{
	overflow: hidden;
}

.modalDialog.kinlane.stickers div.doc-desc input[type="text"],
.modalDialog.kinlane.stickers div.doc-desc input[type="email"]{
	width:350px;
	height:15px;
	border:1px solid #7d7d7d;
	background:#fcfaf4;
	color:#000;
	font:12px/15px Arial, Helvetica, sans-serif;
	padding:5px 13px;
	margin:0 0 4px 0px;
}
.modalDialog.kinlane.stickers div.doc-desc textarea{
	width:350px !important;
	height:52px !important;
	border:1px solid #7d7d7d;
	resize:none;
	background:#fcfaf4;
	margin:0 0 13px 0px;
	color:#000;
	padding:5px 13px;
	font:12px/15px Arial, Helvetica, sans-serif;
	overflow: auto;
}
.modalDialog.kinlane.stickers div.doc-desc .row .error {
	border:1px solid #f03307;
	color: #f03307;
}

.modalDialog.kinlane.stickers ::-webkit-input-placeholder {color: #000;}
.modalDialog.kinlane.stickers :-moz-placeholder {color: #000;}
.modalDialog.kinlane.stickers ::-moz-placeholder {
	color: #000;
	opacity: 1;
}
.modalDialog.kinlane.stickers :-ms-input-placeholder {color: #000;}
.modalDialog.kinlane.stickers div.doc-desc .row{
	overflow:hidden;
	font:11px/13px Arial, Helvetica, sans-serif;
	margin-left: 0px;
}
.modalDialog.kinlane.stickers div.doc-desc .row button{
	border-radius:5px;
	background:#efa10f;
	color:#fff;
	font-size:20px;
	line-height:30px;
	height:36px;
	border:none;
	float:left;
	font-weight:bold;
	padding:3px 10px 5px;
	margin:0 9px 10px 12px;
	cursor:pointer;
}
.modalDialog.kinlane.stickers div.doc-desc .row button:hover{background: #fc6;}
.modalDialog.kinlane.stickers div.doc-desc .text-hidden{
	display: block;
	color:#605e5e;
	font:9px/12px Arial, Helvetica, sans-serif;
}
.modalDialog.kinlane.stickers div.doc-desc .row p{ 
	margin:0;
	color: #000;
	font-size: 9px;
	line-height: 180%;
	padding-top: 2px;
}
.doc-desc{
	width: 400px;
	float: right;
	padding: 15px 0 0;
}
.doc-desc form fieldset{
	border:none;
	margin:0;
	padding:0;
}